.button-main{
    color: #fff;
    background-color: #225378;
    border-color: #225378;
    transition: .5s;
}

.button-main:hover{
    color: #225378 ;
    background-color: #FFF;
}

.hero{
    background: aliceblue;
    padding: 22rem 0;
    height: 300px;
    opacity: 0.99;
    border-bottom: 10px solid #225378;
}

.hero .link{
    color: #225378;
    text-decoration: none;
}

.hero > .container{
    z-index: 2;
}

canvas{
    position:fixed;
    top:0;
    z-index: 1;
    opacity: .2;
}

