$main_color : #225378 ;
$secondary_color : #EB7F00;

.hero{
    background: aliceblue;
    padding: 22rem 0;
    height: 300px;
    opacity: 0.99;
    border-bottom: 10px solid $main_color;

    .container{
        z-index: 2;
    }

    canvas{
        position:fixed;
        top:0;
        z-index: 1;
        opacity: .2;
    }

    h1,h2,h3,h4,h5,h6{
        font-family: serif;
    }


    .hero-heading{
        color: $secondary_color;
    }

    a{
        text-decoration: none;
    }

    a.link{
        color: $main_color;
    }

    a.button-main{
        color: #fff;
        background-color: $secondary_color;
        border-color: $secondary_color;
        transition: .5s;
    }

    a.button-main:hover{
        color: $main_color ;
        background-color: #FFF;
    }

}
